.navigation{
  height: 45px;
  width: 100%;
}
.nav-ul{
  float: right;
}
.main_icon{
  margin: 20px;
  width: 280px;
  height: 32px;
}
.head-page
{
  margin: 2.0625rem auto 3.75rem;
}
.icon
{
  display: block;
  margin: 0 auto;
}
.head-page-h1
{
  font-family: Work Sans,Arial,sans-serif;
  text-align: center;
  font-size: 2.125rem;
  color: #00b39b;
  font-weight: 300;
}

.paragraphs{
  height: auto;
  width: 100%;
  display: flex;
  color: #747474;
  font-family: Roboto,Arial,sans-serif;
  font-weight: 400;
  justify-content: center;
}
.paragraphs div{
  width: 35%;
  text-align: center;
  padding: 10px;
}

.triplecard
{
  display: flex;
  width: 90%;
  padding-left: 5%;
  padding-top: 20px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.triplecard-div
{
  margin-bottom: 10px;
  margin-right: 10px;
  height: 300px;
  border-radius: 10px;
  padding: 2em 2em 2em 2em;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 280px;
  font-family: Work Sans,Arial,sans-serif;
  color: white;
}

.triplecard-content-head
{
  font-size: 2em;
}

.triplecard-content-content
{
    font-size: 1.4em;
}

.triplecard-bottom-a
{
  color: white;
  font-family: Work Sans,Arial,sans-serif;
}

.green{
  background-color: #00ccb1;
}
.blue{
  background-color: #3d83df;
}
.light{
  background-color: #1b2734;
}

.improving{
  margin: 0 auto 4.1875rem;
}

.header-p{
  width: 45%;
  margin: 0 auto;
  text-align: center;
  color: #747474;
}
.improving-h1{
  font-family: Work Sans,Arial,sans-serif;
  text-align: center;
  font-size: 1.8rem;
  color: #00b39b;
  font-weight: 300;
}

.cards
{
  display: flex;
  height: auto;
  width: 95%;
  padding-left: 2.5%;
  padding-top: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
.cards-div{
  width: 311px;
  height: auto;
  box-shadow: 0 5px 10px 0 transparent;
  transition: box-shadow .2s ease 0s;
  margin: 10px;
  transition: .2s ease-in-out;
}
.cards-div:hover
{
  box-shadow: 0 20px 50px 0 rgb(0 0 0 / 13%);
  transform: scale(1.008);
}
.cards-img
{
  border-radius: 10px 10px 0 0;
}
.cards-content
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  padding: 5px 20px 20px 20px;
}
.cards-link
{
  background-color: #3d83df;
  border-radius: 5px;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: .625rem;
  font-family: Roboto,Arial,sans-serif;
  transition: .3s ease-in-out;
}
.cards-link:hover
{
  background-color: #205192;
}